/* responsive design */

@media screen and (max-width: 991px) {
    /* header */
    .burgermenu {
        display: block;
    }

    .navbar ul {
        display: none;
    }


    /* hero section */
    .bigger--card {
        flex-direction: column;
    }

    /* planning section */
    .planning .row {
        flex-direction: column;
    }

    .planning .card__img {
        max-width: 100%;
    }

    .planning .card-planning--first img {
        margin-bottom: 0;
    }

    /* benefits section */
    .benefits .col-4 {
        flex-basis: calc(100% * (6/12));
    }


    /* about-us section */
    .about-us .col-3,
    .about-us .col-4 {
        flex-basis: 50%;
    }

    .card-aboutus__quotemark {
        right: 0;
    }
}

@media screen and (max-width: 575px) {
    main section {
        padding: 25px 0;
    }

    .container,
    .container--small {
        padding: 0 16px;
    }

    /* hero section */
    .hero .col-3,
    .hero .col-4 {
        flex-basis: 100%;
    }

    /* testimonials section */
    .card-testimonial {
        flex-direction: column;
    }

    .card-testimonial .card__text {
        text-align: center;
    }

    /* benefits section */
    .benefits .col-4 {
        flex-basis: 100%;
    }

    /* about-us section */
    .about-us .col-3,
    .about-us .col-4 {
        flex-basis: 100%;
    }

    .card-aboutus .card__img {
        align-self: flex-start;
    }

    .card-aboutus__quotemark {
        right: 25%;
    }


}