/* responsive design */

@media screen and (max-width: 991px) {
    .burgermenu {
        display: block;
    }

    .navbar ul {
        display: none;
    }

    .bigger--card {
        flex-direction: column;
    }
}

@media screen and (max-width: 575px) {
    .hero .col-3,
    .hero .col-4 {
        flex-basis: 100%;
    }

}