:root {
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --purple: #9792e4;
    --dark: #333;
    --yellow: #fdc15f;
    font-family: 'Noto Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

ul, ol, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: block;
}


/* general rules */
main section,
footer section {
    padding: 50px 0;
}

.card__title {
    font-size: 1.25rem;
}

.card__description {
    font-size: 1rem;
}

.text-white {
    color: white;
}

.text-italics {
    font-style: italic;
}

/* buttons */
.button {
    border-radius: 50px;
    width: fit-content;
}

.button--white {
    background-color: white;
    color: var(--dark);
}

.button--blue {
    background-color: var(--blue);
    color: white;
    padding: 15px 45px;
}

.button--purple {
    background-color: var(--purple);
    color: var(--dark);
    width: 52px;
    line-height: 52px;
    border-radius: 50%;
}

.button--purple-white {
    background-color: var(--purple);
    color: white;
    padding: 15px 45px;
}

.button--white-purple {
    background-color: white;
    color: var(--purple);
    padding: 15px 45px;
}

/**********************
********layout*********
 *********************/
/* container */
.container {
    max-width: 1204px;
    margin: 0 auto;
    padding: 0 32px;
}

.container--small {
    max-width: 890px;
    margin: 0 auto;
    padding: 0 32px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.row.gutter {
    margin: 0 -12px;
}

.row.gutter [class^="col"] {
    padding: 12px;
}

/* .col {
    padding: 12px;
} */

.col-12 {
    flex-basis: 100%;
}

.col-8 {
    flex-basis: calc(100% * (4/12));
}

.col-6 {
    flex-basis: calc(100% * (6/12));
}

.col-4 {
    flex-basis: calc(100% * (4/12));
}

.col-3 {
    flex-basis: calc(100% * (8/12));
}

/* header */
header {
    background-color: var(--blue);
    color: white;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav__item a {
    padding: 0 16px;
    line-height: 38px;
    font-size: 14px;
}

.burgermenu {
    display: none;
}

/* hero section */
.card-hero {
    background-color: var(--lightblue);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    height: 100%;
    position: relative;
}

.hero .card__text > * {
    margin-bottom: 20px;
}

.hero .card__icon,
.hero .card__title {
    color: var(--blue);
}

.hero .card__icon {
    font-size: 4rem;
}

.bigger--card {
    display: flex;
}

.bigger--card > * {
    flex-basis: 50%;
    text-align: left;
}

.bigger--card .card__img {
    flex-grow: 1;
    margin: 20px 0 -20px 0;
    display: flex;
    justify-content: center;
}

.bigger--card .card__img > img {
    max-width: 200px;
}

/* planning section */
.planning {
    background-color: var(--purple);
}

.planning .row {
    align-items: flex-end;
    gap: 30px;
}

.planning .col {
    flex-basis: 0;
    flex-grow: 1;
}

.planning .card__img-1 {
    max-width: 400px;
}

.planning .card__img-2 {
    max-width: 200px;
}

.card-planning > * {
    margin-bottom: 20px;
}

.card-planning--white {
    background-color: white;
    color: var(--dark);
    text-align: center;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.planning .card-planning--first img {
    margin-bottom: 150px;
}


/* testimonials section */
/* .testimonials .container,
.testimonials .row,
.testimonials .col {
    border: 2px dashed black;
    padding: 20px;
} */

.testimonials .col > * {
    margin-bottom: 20px;
}

.section__title {
    text-align: center;
}

.section__title > * {
    margin-bottom: 50px;
}

.section__title h3 {
    text-transform: uppercase;
    font-weight: 400;
}

.section__title h1 {
    color: var(--purple);
    font-size: 2rem;
    font-weight: 700;
}

.card-testimonial {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--purple);
    color: white;
    padding: 30px 15px;
    border-radius: 50px;
}

.card-testimonial .card__text > * {
    padding: 10px 60px;
}


.card-testimonial .card__img,
.card-aboutus .card__img {
    display: inline-block;
    position: relative; 
    width: 200px; 
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
} 

.card-testimonial .card__img img,
.card-aboutus .card__img img { 
    width: auto; 
    height: 100%; 
    margin-left: -50px; 
}

.card-testimonial .quote::after,
.card-testimonial .quote::before {
    content: ' " ';
    font-size: 50px;
    position: relative;
    line-height: 0px;
    top: 1.5rem;
}

.author {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}


/* benefits section */
/* .benefits .container,
.benefits .row,
.benefits .col {
    border: 2px dashed black;
    padding: 20px;

} */

.benefits {
    background-color: var(--purple);
}

.benefits .section__title {
    color: white;
    text-align: center;
    padding: 70px 0;
}

.benefits .card {
    background-color: white;
    padding: 50px 30px 30px;
    border-radius: 20px;
}

.benefits .card > * {
    margin-bottom: 30px;
}

.benefits .card .number,
.benefits .card .card__title {
    color: var(--purple);
    font-weight: 700;
}

.benefits .card .number {
    font-size: 4rem;
}

/* about us section */
/* .about-us .container,
.about-us .row,
.about-us .col {
    border: 2px dashed black;
    padding: 20px;

} */
.card-aboutus {
    padding: 0 40px;
}

.about-us .card-aboutus-text .card-aboutus-text__title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--purple);
}

.about-us .card-aboutus-text > * {
    margin-bottom: 62px;
}

.card-aboutus-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card-aboutus-quote > * {
    margin-bottom: 35px;
}

.card-aboutus__quotemark {
    font-size: 6rem;
    color: var(--purple);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

.card-aboutus__quote {
    color: #9792e4;
    font-size: 2rem;
}

/* get-started section */
.get-started {
    background-color: var(--purple);
    color: white;
}

.get-started .row {
   justify-content: center;
   align-items: center;
}

.get-started .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    text-align: center;
}

.get-started .col h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
}

.get-started .col h2 {
    font-size: 1,5rem;
}

.get-started .col h1 {
    font-size: 3rem;
    color: var(--yellow);
}

/* footer */
.footer {
    background-color: var(--dark);
    color: white;
}

.footer .col > * {
    text-align: center;
    margin: 20px 0;
}

.footer a {
    display: inline;
    color: var(--purple);
    text-decoration: underline;
}












