:root {
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --purple: #9792e4;
    --dark: #333;
    --yellow: #fdc15f;
    font-family: 'Noto Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

ul, ol, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: block;
}

/* buttons */
.button {
    border-radius: 50px;
    width: fit-content;
}

.button--white {
    background-color: white;
    color: var(--dark);
}

.button--blue {
    background-color: var(--blue);
    color: white;
    padding: 15px 45px;
}

.button--purple {
    background-color: var(--purple);
    color: var(--dark);
    width: 52px;
    line-height: 52px;
    border-radius: 50%;
}


/* container */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container--small {
    max-width: 890px;
    margin: 0 auto;
}

/* layout */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding: 12px;
}

.col-6 {
    flex-basis: calc(100% * (6/12));
}

.col-4 {
    flex-basis: calc(100% * (4/12));
}

.col-3 {
    flex-basis: calc(100% * (8/12));
}

/* header */
header {
    background-color: var(--blue);
    color: white;
    padding: 19px 0;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav__item a {
    padding: 0 16px;
    line-height: 38px;
    font-size: 14px;
}

.burgermenu {
    display: none;
}

/* hero section */
.hero {
    margin-top: 24px;
}

.card-hero {
    background-color: var(--lightblue);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    height: 100%;
    position: relative;
}

.card__text > * {
    margin-bottom: 20px;
}

.card__icon,
.card__title {
    color: var(--blue);
}

.card__icon {
    font-size: 4rem;
}

.card__title {
    font-size: 1.25rem;
}

.card__description {
    font-size: 1rem;
}

.bigger--card {
    display: flex;
}

.bigger--card > * {
    flex-basis: 50%;
    text-align: left;
}

.bigger--card .card__img {
    flex-grow: 1;
    margin: 20px 0 -20px 0;
    display: flex;
    justify-content: center;
}

.bigger--card .card__img > img {
    max-width: 200px;
}

/* planning section */
.planning {
    padding: 19px 0;
    background-color: var(--purple);
}

.planning .row {
    align-items: flex-end;
}

.planning .card__img-1 {
    max-width: 400px;
}

.planning .card__img-2 {
    max-width: 200px;
}

.card-planning > * {
    margin-bottom: 20px;
}

.text-white {
    color: white;
}

.text-italics {
    font-style: italic;
}

.card-planning--white {
    background-color: white;
    color: var(--dark);
    text-align: center;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}







